$newWhite: #e2e2e2;
$fontVolkcane: 'fontVolkcanePrincipal';


body {
    background-color: $newWhite;
}

.mainVolkcane {
    display: flex;
    flex-direction: column;
    align-items: center;

    .h1-mainVolkcane {
        font-family: $fontVolkcane;
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(133,36,154,1), rgb(72, 13, 85));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 10%;
        margin-top: 1em;
    }
}