@font-face {
    font-family: 'font-volkcane';
    src: url('../assets/fonts/monotype-corsiva.ttf');
}

@font-face {
    font-family: 'font-inter';
    src: url('../assets/fonts/Inter-Regular.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}